h1 {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    background-color: black;
    color: blanchedalmond;
}
h4{
    text-align: center;  
    padding-left: 30%;
padding-right: 30%;
}

.img{
   padding-left: 30%;
padding-right: 30%;
   height: 40%;
   width: 40%;
align-items: center;
}
ul{
    text-align: left;
    font-size: large;
    padding-left: 50%;
}
div{
    background-color: rgb(216, 226, 225);
}
.anime{
    height: auto;
   width: auto;
   display:flex;
   justify-content:space-between;
   padding-top: 90px ;
   
}